<input class="form-control" id="operator_username" type="text" placeholder="Enter Username" /></br>
<input class="form-control" id="operator_password" type="password" placeholder="Enter Password" /></br>
<input class="form-control" id="operator_firstname" type="text" placeholder="Enter First Name" /></br>
<input class="form-control" id="operator_lastname" type="text" placeholder="Enter Last Name" /></br>
<div class="radio">
    <label>
        <input class="form-control" id="operator_adminrole" type="checkbox" />
        <span style="font-size: large">Make Admin</span>
    </label>
</div>
<div class="btn btn-primary" onclick="addOperator();" > Add Operator!</div>
<div class="btn btn-primary" onclick="getOperator();" > Get Operator!</div>
<div class="btn btn-primary" onclick="updateOperator();" > Update Operator!</div>
<div class="btn btn-primary" onclick="deleteOperator();" > Delete Operator!</div>
<div class="btn btn-primary" onclick="getAllOperators();">Get them all.</div>
<div class="btn btn-primary" onclick="$('#operator_view').hide();setWrapperHeight();">Hide.</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Username</td><td>Password</td><td>Firstname</td><td>Lastname</td><td>Role</td><td>Get</td>
        </tr>
    </thead>
    <tbody id="operators"></tbody>
</table>
